# MySQL Database Connection URL Example:
# DATABASE_URL="mysql+pymysql://root:YOUR_PASSWORD@localhost:3306/YOUR_DB_NAME"

# SQLite Database Connection URL Example (default):
DATABASE_URL="sqlite:///sevasetu.db"

JWT_SECRET_KEY="super-secret-key"
